.education {
    max-width: var(--max-center-width);
    margin: 0 auto;
    padding-top: 2rem;
    margin-bottom: 5rem;
}

.heading {
    font-size: 3rem;
    text-align: center;
}

.item {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding-top: 0.5rem;
    border-top: 1px solid var(--border-color-item);
}

.title {
    display: flex;
}

.left {
    flex: 1;
}

.right {
    margin-left: auto;
}

.school {
    color: var(--font-color-highlight);
    transition: var(--transition);
}

.school:hover {
    color: var(--font-color-hover);
}

.degree {
    margin-top: 0;
}

.time {
    text-align: right;
    margin-top: 0;
}

.description {
    margin: 0;
}

.grade {
    margin-top: 0.5rem;
}

.designationContainer {
    margin-top: 0.5rem;
    padding-left: 1rem;
}

.designation:before {
    content: '•';
    margin-right: 0.25rem;
}

.designation {
    display: flex;
    list-style-type: circle;
}

.designationTitle {
    margin: 0;
}

.designationAwarder {
    margin: 0;
    color: var(--font-color-secondary);
}
