#hero {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
}

#splash {
    margin-top: 35vh;
    max-width: var(--max-center-width);
}
#preamble {
    margin: 0;
    padding: 0;
    font-size: calc(var(--font-size-hero-name)*0.5);
}

#name {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-hero-name);
    letter-spacing: var(--font-letter-spacing-hero-name);
    font-weight: var(--font-weight-hero-name);
}

.highlight {
    color: var(--font-color-highlight);
}