.main {
    min-height: 150vh;
    display: flex;
    justify-content: center;
}

.phone {
    position: relative;
    width: 360px;
    height: 640px;
    border: 16px var(--phone-color) solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
}

.phone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
    background: var(--phone-speaker-color);
    border-radius: 10px;
}

.phone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: var(--phone-speaker-color);
    border-radius: 50%;
}

.phoneScreen {
    width: 360px;
    height: 640px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.callName {
    margin-top: 3rem;
    font-family: Helvetica;
    font-weight: 1;
    font-size: 2rem;
}

.slider {
    margin-top: 100%;
    display: flex;
    align-items: center;
    background-color: var(--phone-color);
    width: 70%;
    height: 10%;
    border-radius: 50px;
    padding: 5px;
    z-index: 3;
}

.acceptCall {
    height: 100%;
}

.acceptText {
    font-family: Helvetica;
    font-size: 1.5rem;
    color: black;
}
