#hero {
    min-height: max(50rem, 120vh);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    font-size: calc(var(--font-size-hero-name)*0.6);
}

#splash {
    margin-top: 2rem;
    max-width: var(--max-center-width);
}

#preamble {
    margin: 0;
    padding: 0;
    font-size: calc(var(--font-size-hero-name)*0.5);
}

#name {
    margin: 0;
    padding: 0;
    font-size: var(--font-size-hero-name);
    letter-spacing: var(--font-letter-spacing-hero-name);
    font-weight: var(--font-weight-hero-name);
}

.highlight {
    color: var(--font-color-highlight);
    display: inline-block;
    position: relative;
    user-select: none;;
}

#imageContainer {
    position: relative;
    height: auto;
    display: flex;
    justify-content: center;
}

.image {
    max-width: 100%;
    height: auto;
    position: absolute;
    transition: 0.5s ease;
}

/* Hover Effects */
@media (prefers-reduced-motion: no-preference) {
    /* Underline Animation by 30 Seconds of Code 
       https: //www.30secondsofcode.org/css/s/hover-underline-animation 
    */
    .highlight:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        /* https: //uigradients.com/#Alihossein */
        background: #f7ff00;
        background: -webkit-linear-gradient(to right, #db36a4, #f7ff00);
        background: linear-gradient(to right, #db36a4, #f7ff00);
        transform-origin: bottom right;
        transition: transform 0.35s ease-out;
    }

    .highlight:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    #devImage, 
    #mathImage,
    #educatingImage {
        opacity: 0;
        z-index: 1;
    }

    #homeImage {
        position: static;
    }

    #devText:hover~#imageContainer #devImage,
    #mathText:hover~#imageContainer #mathImage,
    #educatingText:hover~#imageContainer #educatingImage {
        opacity: 1;
    }

    #devText:hover~#imageContainer #homeImage,
    #mathText:hover~#imageContainer #homeImage,
    #educatingText:hover~#imageContainer #homeImage {
        opacity: 0;
    }
}


