.transition {
    background-color: var(--bg-primary);
    z-index: 3;
    min-height: 100vh;
    display: flex;
    min-width: 3000px;
    align-items: center;
    overscroll-behavior: none;
}

.fillerContainer {
    min-height: 100%;
    display: flex;
    min-width: 3000px;
    align-items: center;
}

.main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}