.contact {
    text-align: center;
}

.button {
    border: 2px solid var(--button-color);
    background: inherit;
    color: inherit;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.button:hover {
    background: var(--button-select);
    color: var(--bg-primary);
    transition: var(--transition);
    border-color: var(--button-select);
}

